<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Registration</h1>
      <h4>Pick a username and password</h4>
    </div>
  </div>
  <div class="row">
    <div id-"registration-wrapper" class="col-sm-6 col-sm-offset-3 text-center">
      <form role="form" ng-submit="registerForm(this)" id="registration-form" name="registration">
        <h4 class="error-message">{{errorMeesage}}</h4>
        <div class="form-group">
          <label>Username:</label>
          <input type="text" ng-model="username" placeholder="John Smith" minlength="5" class="form-control" required="username">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" ng-model="password" placeholder="6 Character Minimum" minlength="6" class="form-control" required="password">
        </div>
        <div class="form-group">
          <input type="password" ng-model="password2" placeholder="Confirm Password" minlength="6" class="form-control"required="password2">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" ng-model="email" placeholder="example@example.com" class="form-control" require="email">
        </div>
        <div class="button-holder">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>